name: Release

on:
    push:
        branches:
            - main
        paths-ignore:
            - "docs/**"
            - "**.md"
            - ".vscode/**"
            - ".idea/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: false

permissions:
  contents: read
  packages: read

jobs:
    # Sample of referencing a separate workflow file with workflow_call
    example-ci:
      name: Example CI
          uses: ./.github/workflows/example-project-cd.yaml

# We recommend, treating this as a generic workflow aggregating
# multiple workflow references. This way, you can easily
# customize the workflow to your needs using workflow references.
# ===
# How to use?
# ===
# 1. Duplicate and remove .template from the file name
# 2. Adapt the workflow as needed using workflow references.
# 3. Commit and push the changes
# 4. Remove the original .template file (if no longer needed)

