import algokit_utils
import pytest
from algokit_utils import (
    AlgoAmount,
    AlgorandClient,
    SigningAccount,
)

from smart_contracts.artifacts.{{ contract_name }}.{{ contract_name }}_client import (
    {% include pathjoin('includes', 'contract_name_pascal.jinja') %}Client,
    {% include pathjoin('includes', 'contract_name_pascal.jinja') %}Factory,
)


@pytest.fixture()
def deployer(algorand_client: AlgorandClient) -> SigningAccount:
    account = algorand_client.account.from_environment("DEPLOYER")
    algorand_client.account.ensure_funded_from_environment(
        account_to_fund=account.address, min_spending_balance=AlgoAmount.from_algo(10)
    )
    return account


@pytest.fixture()
def {{ contract_name }}_client(
    algorand_client: AlgorandClient, deployer: SigningAccount
) -> {% include pathjoin('includes', 'contract_name_pascal.jinja') %}Client:
    factory = algorand_client.client.get_typed_app_factory(
        {% include pathjoin('includes', 'contract_name_pascal.jinja') %}Factory, default_sender=deployer.address
    )

    client, _ = factory.deploy(
        on_schema_break=algokit_utils.OnSchemaBreak.AppendApp,
        on_update=algokit_utils.OnUpdate.AppendApp,
    )
    return client


def test_says_hello({{ contract_name }}_client: {% include pathjoin('includes', 'contract_name_pascal.jinja') %}Client) -> None:
    result = {{ contract_name }}_client.send.hello(args=("World",))
    assert result.abi_return == "Hello, World"


def test_simulate_says_hello_with_correct_budget_consumed(
    {{ contract_name }}_client: {% include pathjoin('includes', 'contract_name_pascal.jinja') %}Client,
) -> None:
    result = (
        {{ contract_name }}_client.new_group()
        .hello(args=("World",))
        .hello(args=("Jane",))
        .simulate()
    )
    assert result.returns[0].value == "Hello, World"
    assert result.returns[1].value == "Hello, Jane"
    assert result.simulate_response["txn-groups"][0]["app-budget-consumed"] < 100
